In [2]:
import numpy as np
import pandas as pd
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\sidaga waziri\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: openpyxl in c:\users\sidaga waziri\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sidaga waziri\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sidaga waziri\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sidaga waziri\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sidaga waziri\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: et_xmlfile in c:\users\sidaga waziri\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\sidaga waziri\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
dates = pd.read_excel("Book1.xlsx")
dates

,month_day_year,day_month_year,date_time,year_month_day,Unnamed: 4
0,0,1996-04-22,1996-04-22,Tue Aug 11 09:50:35 1996,2007-06-22 00:00:00
1,1,1996-04-23,1996-04-23,Tue May 12 19:50:35 2016,2017-01-09 00:00:00
2,2,1996-05-14,1996-05-14,Mon Oct 14 09:50:35 2017,1998-04-12 00:00:00
3,3,1996-05-15,1996-05-15,Tue Jan 11 09:50:35 2018,2027-07-22 00:00:00
4,4,2001-05-16,2001-05-16,Fri Mar 11 07:30:36 2019,1945-11-15 00:00:00
5,5,2002-05-17,2002-05-17,Tue Aug 11 09:50:35 2020,1942-06-22 00:00:00
6,6,2003-05-18,2003-05-18,Wed Dec 21 09:50:35 2021,1887-06-13
7,7,2004-05-19,2004-05-19,Tue Jan 11 09:50:35 2022,1912-01-25 00:00:00
8,8,2005-05-20,2005-05-20,Sun Jul 10 19:40:25 2023,2007-06-22 00:00:00

In [15]:
for i in dates:
    print(type(dates))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [16]:
pd.to_datetime(odd_date,
              format= "%H:%M:%S %Y-%d-%m")

NameError: name 'odd_date' is not defined